body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: black;
} 

.App {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 90%;
  margin-left: auto;
}

.plan {
  width: 60%;
}

.note {
  width: 90%;
}

.myInput {
  width: 70%;
  height: 15px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

textarea {
  width: 70%;
  border-radius: 15px;
  border: none;
  padding: 10px;
  display: block;
  margin-top: 30px;
  height: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  color: white;
  font-size: 34px; 
}

.button-add {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #9BCF53;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.button-add:hover {
  background-color: #c5f286;
}

.button-del {
  font-family: "Montserrat", sans-serif;
  border: none;
  background: none;
  padding-bottom: 5px;
  align-self: flex-end;
}

.button-del:hover {
  scale: 1.1;
}

img {
  vertical-align: bottom;
  padding: 2px;
}

.selected, .default {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.selected {
  background-color: rgb(228, 254, 191)
}

.default {
  background-color: white;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #FFDE4D;
  margin-top: 40px;
  width: 60%;
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.65);
}

.text-title {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin: 5px 0px;
  font-weight: bolder;
}

.text-meal {
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
}
.footerText, a {
  color: gray;
  font-size: 14px;
}

@media all and (max-width: 800px) {

  body {
    background-position: center;
  }

  .App {
    flex-wrap: wrap;
    margin-top: 100px;
    align-content: center;
  }

  .plan {
    width: 90%;
  }

  .myInput, textarea {
    width: 90%;
  }

  h1 {
    width: 80%;
    font-size: 56px;
    line-height: 56px;
  }

  h3 {
    width: 90%;
    text-align: center;
  }
  
}